node_modules
.DS_Store
*.local
.vscode
/dist
dist.zip
.env
server/dist
server/node_modules
*.db
*.db-shm
*.db-wal
temp
/data/storage
/data/cache
/recycle_bin
build.md
themes
backup
static
DEVELOPMENT_WORKFLOW.md
anheyu-app/
